$point-color1:rgba(255,103,32,0.99);
$point-color2: #00BFB2;
$point-color3: #00585A;
$point-color4:#fff;
$point-color5:  #fd7e14;
$point-color6: rgba(255,255,255,0.2);
$point-color7: rgba(249, 245, 245, 0);
$point-color8:  #146567;
$point-color9: rgb(0 191 178);
$point-color10: #ffc107; 
$point-color11: rgba(255, 255, 255, 0);
$point-color12: rgb(242 244 244);
$point-color13: #19696b;
$point-color14: #408283;
$point-color15: #FF6720;
$point-color16: #146567;
$point-color17: #0d6162;

$font-en: Strawford,Pretendard,SpoqaHanSansNeo,AppleSDGothicNeo,arial,sans-serif;